body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    width: 800px;
    height: auto;
  }

  header {
    color: black;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
  }
  hr{
    border: solid 1px black;
  }

  #nuevatarea {
    background-color: #fff;
    padding: 20px;
  }

  #nuevatarea p {
    font-weight: bold;
    margin-bottom: 10px;
  }

  #botonAgregarTarea {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
  }

  #contenedorTotal {
    background-color: #fff;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  #containertotal ul {
    list-style: none;
    padding: 0;
    width: 50%;
  }
  

  #containertotal span {
    font-size: 18px;
    font-weight: bold;
  }
  #listaTareas{
    list-style: none;
    padding: 0;
  }
  #listaTareas li{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  #ListaTareas button{
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  .id-tarea {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }